@page
@using DFWeb.BE.Models
@model IndexModel
@{
    if ( Model.pageModel != null )
    {
        ViewData["Title"] = Model.pageModel.ContentTitle;
    }
}

<!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->

<div class="tw-relative tw-w-full tw-flex-none">
    <div class="tw-w-full" id="menu" >
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
    </div>

    <div  id="mainblock" class="tw-mx-auto lg:tw-grid tw-grid-flow-row tw-grid-cols-3 tw-gap-2">
    <div  id="articleblock" class="tw-col-span-2 tw-max-w-5xl tw-mx-auto lg:tw-grid tw-grid-flow-row tw-grid-cols-2 tw-gap-2">

        @foreach (var relPage in Model.mainPageItems.Take(1))
        {
            @await Html.PartialAsync("Views/Components/TeaserArticleMedium.cshtml", relPage)
        }
        @* Show remaining articles:
            - Small screen: 2 articles on page (sm-6)
            - Large screen: 3 articles on page (lg-4) 
        *@
        @foreach (var relPage in Model.mainPageItems.Skip(1))
        {
            @await Html.PartialAsync("Views/Components/TeaserArticleSmall.cshtml", relPage)
        }

    </div>

    <div  id="relatedblock" >

        @* Display related articles on the side ( in full desktop screen view ) *@
        @await Html.PartialAsync("Views/Components/RelatedArticleSmall.cshtml", Model.relatedPages)
    </div>
    </div>

</div>

