@page
@model DeleteModel
@{
    ViewData["Title"] = Model.Title;
}

<div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" align="center">
            <div style="align-content:center; width:100%;">

                <div style="border:solid ;border-color:#ffbb33;padding:10px; width:430px">

                    <div class="warning"> <img src="/img/warning_icon.png" height="50px" width="50px"> &nbsp; Are you sure you want to delete the page <br />@Model.Title </div>
                    <br>

                    <div style="width:400px">
                        <form action='/api/Edit/DeletePage' method='POST' style='display: inline;'>
                            <input type='hidden' name='PageId' value='@Model.PageId' />
                            <input class="warning_button" style="float:left" type='submit' value='Cancel' />
                            <input class="warning_button" style="float:right" type='submit' value='Delete' />
                            <br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

