BODY {
    font-family: "Arial","Geneva","Helvetica","Trebuchet MS","Verdana";
    font-size: small;
    font-weight: normal;
    font-style: normal;
/*    background: #cccccc; */
    color: black;
    padding-top:10px;
}

.buttonrow
{
    width:100%;
}

.btn-primary
{
    float: right;
}

.btn-primary, .btn-secondary
{
    @media screen {
        padding-bottom: 5px;
        width:100%;
    }
}

a:link {
    font-weight: bold;
 /*   text-decoration: underline;*/
 color: darkgray
}

a:visited {
    font-weight: bold;
/*    text-decoration: underline;*/
    color: darkgray
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: darkgray
}

/*
li {
    font-size: x-small;
}
.topmenu li
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
*/
.icon-bar
{
    background-color:black;
}

.imagefit {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.imagefitwide {
    width: 100%;
}

.navbar-toggle {
    border-color: #333;
    float: left;
    margin-left: 15px;
}

@media (max-width: 991px) button.navbar-toggle {
    float: left;
    margin-left: 12px!important;
}

.topnav {
    font-size: small;
}

.menu {
    background: #272727;
    border: solid #777777 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    opacity: 0.8;
}

.menutext {
    font-size: small;
    text-decoration: none;
}

.articletitle {
    background: #28235b;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    /* background-image: linear-gradient(to top, #28235b, #28235b); */
    /* font-size:x-large; */
    color:#fff
}

.articlesubtitle {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-decoration: none;
}

.page {
    background: #f1f1f1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-bottom:20px;
}

.article {
/*    margin-bottom: 10px;*/
    font-size: small;
    text-decoration: none;
    background: #f1f1f1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.articleedit {
    padding: 5px;
    font-size: small;
    text-decoration: none;
    background: lightgrey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.articlefull {
    background: #f1f1f1;
}

.article > a  {
    color: blue;
}

.articletext > a {
    color: black;
}

.articletext > a:link {
    color: black;
}

.article > a:visited {
    color: black;
}

.articletext > a:visited {
    color: black;
}



.article > hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.disabledmenu {
    background: #272727;
    border: solid #777777 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
}

.selectedmenu {
    background: #777777;
    border: solid #FFFFFF 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    font-size: small;
    font-style: italic
}

.selectedmenutext {
    font-size: small;
    text-decoration: none;
    font-weight: bold
}

.submenu {
    background: #272727;
    border: solid #777777 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    opacity: 0.3;
}

.disabledsubmenu {
    background: #272727;
    border: solid #777777 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
}

.navigation-item {
    font-size: small;
    color:white;
}

.selectedsubmenu {
    background: #272727;
    border: solid #FFFFFF 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    font-size: small;
    font-style: italic
}

.topmenu {
    background: #28235b;
    padding: 4px;
    text-align: right;
    opacity: 0.8;
}

.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: black;
    transform: skew(-10deg);
}

.topmenu a:hover {
    background: rgba(0,0,0,0);
    color: white;
    box-shadow: inset 0 0 0 3px #cccccc;
    animation: bounce 1s;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}


.menu_editor {
    background: #d21339;
    border: solid #777777 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    opacity: 0.8;
}

.selectedmenu_editor {
    background: #d21339;
    border: solid #FFFFFF 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    font-size: small;
    font-style: italic
}

.submenu_editor {
    background: #d21339;
    border: solid #777777 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    opacity: 0.3;
}

.selectedsubmenu_editor {
    background: #d21339;
    border: solid #FFFFFF 1px;
    border-color: black;
    padding: 4px;
    text-align: right;
    font-size: small;
    font-style: italic
}

.loginbutton {
    background: #666666;
    border: solid #FFFFFF 1px;
    border-color: black;
    width: 160px;
    padding: 4px;
    text-align: center;
    font-size: small;
    font-style: italic;
    color: #FFFFFF;
}

.logininput {
    width: 160px;
    text-align: center;
    font-size: small;
    font-style: italic
}

.toolbutton {
    background: #666666;
    border: solid #FFFFFF 1px;
    border-color: black;
    width: 160px;
    padding: 4px;
    text-align: center;
    font-size: small;
    font-style: italic;
    color: #FFFFFF;
}

.toolmenu {
    background: #272727;
    border: solid #777777 1px;
    borde-color: black;
    width: 160;
    padding: 4px;
    text-align: center;
}

.editmenu {
    background: #98BBC8;
    border: solid #87AAB7 1px;
    border-color: black;
    width: 110;
    padding: 4px;
    align: center;
    font-size: small;
    font-style: italic
}

.editsubmenu {
    background: #98BBC8;
    border: solid #87AAB7 1px;
    border-color: black;
    width: 100;
    padding: 4px;
    align: center;
}

.edit_btn {
    background: #BADDEA;
    border: solid #87AAB7 1px;
    border-color: black;
    text-align: center;
}

.inputtext {
    font-size: x-small;
    text-decoration: none;
    width: 95px;
    align-items: center;
}

.edit_header {
    font-size: x-small;
    text-decoration: none;
    width: 500px;
    align-items: center;
}

.edit_input {
    font-size: x-small;
    text-decoration: none;
    width: 94%;
    align-items: center;
    color: black;
}

.edit_input_small {
    font-size: x-small;
    text-decoration: none;
    width: 75%;
    align-items: center;
    color: black;
}

.buildbox {
    border: solid #000000 1px;
    border-color: black;
    width: 50;
    padding: 10px;
    text-align: center;
}

    .buildbox a:link {
        font-weight: bold;
        text-decoration: underline;
        color: black;
    }

    .buildbox a:hover {
        font-weight: bold;
        text-decoration: underline;
        color: #000000;
    }

    .buildbox a:visited {
        font-weight: bold;
        text-decoration: underline;
        color: #222222;
    }

.patchnotes {
    background: #FF0000;
    border: solid #87AAB7 1px;
    border-color: black;
    width: 495;
    padding: 4px;
    text-align: right;
}

.block {
    border-bottom: solid #999999 1px;
    padding: 4px;
    text-align: left;
    font-weight: bold;
    font-size: medium
}

.textheaderblock {
    font-size: small;
    font-weight: bold
}

.textblock {
    background: #111111;
    font-size: small;
}

.warning, .warning_button {
    background: #ffbb33;
    border: solid #000000 1px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.warning_button {
    background: #ffab00;
    width: 150px;
    padding: 4px;
    text-align: center;
    font-size: small;
    font-style: italic;
    color: #FFFFFF;
    border-color: #ffbb33
}

.warning {
    padding: 20px 20px 20px 10px;
    width: 400px;
}

.download {
    padding: 10px;
    background: #DDDDDD;
    border: solid #000000 1px;
    color: black;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

    .download a:link {
        font-weight: bold;
        text-decoration: underline;
        color: #000000
    }

    .download a:hover {
        font-weight: bold;
        text-decoration: underline;
        color: #000000
    }

    .download a:visited {
        font-weight: bold;
        text-decoration: underline;
        color: #222222
    }

.downloadsmall {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #EFEFEF;
    border: solid #999999 1px;
    color: #666666;
    font-weight: bold;
    font-size: small;
    width: 400px;
    text-align: center;
}

    .downloadsmall a:link {
        font-weight: bold;
        text-decoration: underline;
        color: #666666
    }

    .downloadsmall a:hover {
        font-weight: bold;
        text-decoration: underline;
        color: #666666
    }

    .downloadsmall a:visited {
        font-weight: bold;
        text-decoration: underline;
        color: #666666
    }

.dfnavbg
{
    color: #555;
    background-color: #edeff8;
}

.test {
    cellpadding =0;
    cellspacing =0;
    border =10;
    nowrap;
    color: black;
    bgcolor: black;
}

.menutitle {
    font-size: small;
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

.titlebar {
    font-size: small;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

.maintitlebar {
    color: #87AAB7;
    font-size: medium;
    text-align: left;
    font-weight: bold;
    font-style: italic
}

.banner {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: black
}

.subbanner {
    font-size: normal;
    text-align: center;
    font-weight: bold;
    color: red
}

.celltitle {
    font-size: x-small;
    text-align: left
}

.faqcelljustpara {
    font-size: x-small;
    text-align: justify;
    color: black
}

.faqcellcenterpara {
    font-size: x-small;
    text-align: center;
    color: black
}

.faqcellsubcenterpara {
    font-size: xx-small;
    text-align: center;
    color: black
}

.celljustpara {
    font-size: x-small;
    text-align: justify
}

.cellleftpara {
    font-size: small;
    text-align: left
}

.cellcenterpara {
    font-size: x-small;
    text-align: center
}

.cellrightpara {
    font-size: x-small;
    text-align: right
}

.celltoplink {
    font-size: x-small;
    text-align: right
}

.cellsubtitle {
    font-size: xx-small;
    text-align: left
}

.cellsubjustpara {
    font-size: xx-small;
    text-align: justify
}

.cellsubcenterpara {
    font-size: xx-small;
    text-align: center
}

.cellsubleftpara {
    font-size: xx-small;
    text-align: left
}

.cellsubrightpara {
    font-size: xx-small;
    text-align: right
}

.cellsubtoplink {
    font-size: xx-small;
    text-align: right
}

.justpara {
    text-align: justify
}

.leftpara {
    text-align: left
}

.rightpara {
    text-align: right
}

.centerpara {
    text-align: center
}
