@page
@model Page
@{
    ViewData["Title"] = "Change Password";
}

<div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("../Views/TopElements/TopMenuBasic.cshtml", Model)
        </div>
    </div>

    <div class="row" style="height:20px">
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="article" style="width:100%">

                <h1>Change Password</h1>
                <div>
                    Enter your registered email address to receive a security code.
                </div>
                <br>
                <div class="articletext" style="margin:5px">
                    <form action="/api/Login/ChangePassStep1" method="POST">
                        <div>
                            <strong>E-mail</strong>
                            <input name="email" class="form-control" type="e-mail" placeholder="Email" aria-label="Email">
                        </div>
                        <br>
                        <div class="buttonrow">
                            <a href="/Login/LoginFailed" class="btn btn-secondary" >Previous</a>
                            <button class="btn btn-primary" type="submit"><i style="margin-right:5px" class="fa fa-sign-in" aria-hidden="true"></i>Next</button>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>

