@page
@model Page
@{
    ViewData["Title"] = "Home page";
}

<div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("../Views/TopElements/TopMenuBasic.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div class="article" style="width:100%">

                <h1> Set new passord</h1>
                <div >
                    Set new password. Your password must be at least 8 characters and contain 2 digits.
                </div>

                <div class="articletext" style="margin:5px">
                    <form action="/api/Login/ChangePassStep3" method="POST">
                        <div>
                            <strong>Password</strong>
                            <input name="password" class="form-control" type="password" placeholder="Password" aria-label="Password">
                        </div>
                        <br>
                        <div>
                            <strong>Password again</strong>
                            <input name="password2" class="form-control" type="password" placeholder="Password again" aria-label="Password again">
                        </div>
                        <br>
                        <div class="buttonrow">
                            <a href="/Login/Login/ChangePassStep2" class="btn btn-secondary" >Previous</a>
                            <button class="btn btn-primary" type="submit"><i style="margin-right:5px" class="fa fa-sign-in" aria-hidden="true"></i>Next</button>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>

        <div class="col-md-4">

            # Info about the password.

        </div>
    </div>
</div>

