@using DFWeb.BE.Models
@model List<TeaserPageContentModel>

@{
    string FormatTags(string tags)
    {
        tags = tags.ToUpper();
        tags = tags.Replace(" ", " | ");
        tags = tags.Replace("_", " ");
        return tags;
    }
}

@* 
Hide Article Section list on the right side if we are on a medium or smaller screen
<div class="d-lg-none">hide on screens wider than lg</div>
<div class="d-none d-lg-block">hide on screens smaller than lg</div> 
*@

@foreach (var relPage in Model)
{
    <div class="tw-max-w-sm tw-mx-auto tw-bg-slate-50 tw-rounded-xl tw-shadow-md tw-overflow-hidden">

        @if (relPage.ImageId != 0)
        {
        <div>
             <a href="/page?id=@relPage.PageId"><img class="tw-w-full tw-h-48 tw-object-cover" src="/api/Image/GetImage?imageId=@relPage.ImageId" alt="ImageText"></a>
        </div>
        }
        <div class="tw-p-4">
            @if (relPage.Tags != null)
            {
                <B>#@FormatTags(relPage.Tags)</B><BR>
            }

            <div class="tw-uppercase tw-tracking-wide tw-text-sm tw-text-black tw-font-semibold">@relPage.ContentTitle</div>
            <a href="#" class="tw-block tw-mt-1 tw-text-lg tw-leading-tight tw-font-medium tw-text-black">@relPage.LastUpdated</a>
            <p class="tw-mt-2 tw-text-slate-500">@relPage.PromoText</p>
        </div>

    </div>
}

