@using DFWeb.BE.Models
@model TeaserPageContentModel

@{
    string FormatTags(string tags)
    {
        tags = tags.ToUpper();
        tags = tags.Replace(" ", " | ");
        tags = tags.Replace("_", " ");
        return tags;
    }
}

<div class="max-w-md mx-auto bg-slate-50 rounded-xl shadow-md overflow-hidden md:max-w-1xl">
    <div>
        @if (Model.ImageId != 0)
        {
        <div>
            <img class="w-full h-48 object-cover" src="/api/Image/GetImage?imageId=@Model.ImageId" alt="Modern building architecture">
        </div>
        }
        <div class="p-2">
            <div class="uppercase tracking-wide text-sm text-black font-semibold">@Model.ContentTitle</div>
            <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black">@Model.LastUpdated | @FormatTags(Model.Tags)</a>
            <p class="mt-2 text-slate-500">@Model.PromoText</p>
        </div>
    </div>
</div>
