@using DFWeb.BE.Models
@model TeaserPageContentModel

@{
    string FormatTags(string tags)
    {
        tags = tags.ToUpper();
        tags = tags.Replace(" ", " | ");
        tags = tags.Replace("_", " ");
        return tags;
    }
}

<div class="tw-col-span-2 tw-max-w-sm tw-mx-auto tw-bg-slate-100 tw-rounded-xl tw-shadow-md tw-overflow-hidden md:tw-max-w-3xl tw-min-h-64">
    <div>
        @if (Model.ImageId != 0)
        {
        <div class="md:tw-shrink-0">
            <a href="/page?id=@Model.PageId"><img class="tw-w-full tw-h-48 tw-object-cover md:tw-h-80" src="/api/Image/GetImage?imageId=@Model.ImageId" alt="Image text"></a>
        </div>
        }
        <div class="tw-p-4">
            <div class="tw-uppercase tw-tracking-wide tw-text-sm tw-text-black tw-font-semibold">@Model.ContentTitle</div>
            <a href="#" class="tw-block tw-mt-1 tw-text-lg tw-leading-tight tw-font-medium tw-text-black">@Model.LastUpdated | @FormatTags(Model.Tags)</a>
            <p class="tw-mt-2 tw-text-slate-500">@Model.PromoText</p>
        </div>
    </div>
</div>
