@using DarkFactorCoreNet.Models
@model List<PageListModel>

@foreach (var pageListModel in Model)
{
    <div class="articletitle">
        <img src="http://www.darkfactor.net/img/DarkFactor_WebLogo.png" width="30px" >&nbsp;<strong>@pageListModel.Title</strong>
    </div>

    <div>
        @foreach (var relPage in pageListModel.Pages)
        {
        <div class="article">

            @if (relPage.ImageId != 0)
            {
                <center><a href="/page?id=@relPage.ID"><img width=100% height=100% src="/api/Image/GetImage?imageId=@relPage.ImageId" class="imagefit"></a></center>
                <br />
            }

            @if (!string.IsNullOrEmpty(relPage.PromoTitle))
            {
                <a href="/page?id=@relPage.ID" class="articlesubtitle">@relPage.PromoTitle</a><br />
                <br />
            }

            @relPage.PromoText
            <br />
            <br />

            <a href="/page?id=@relPage.ID">Read more &gt;&gt;</a><br />
        </div>

        }
    </div>
}


