@using DarkFactorCoreNet.Models
@model List<TeaserPageContentModel>

@foreach (var relPage in Model)
{
    <div>
        <div class="article">

            @if (relPage.ImageId != 0)
            {
                <center><a href="/page?id=@relPage.PageId"><img width=100% height=100% src="/api/Image/GetImage?imageId=@relPage.ImageId" class="imagefit"></a></center>
                <br />
            }

            <div style="margin-left: 10px;margin-right: 10px;">
                <B>@relPage.ContentTitle</B> <br />
                @relPage.PromoText <br />
                <br />
                <a href="/page?id=@relPage.PageId">Read more &gt;&gt;</a><br />
            </div>
        </div>
        <BR>
    </div>
}


