@page
@model DeleteModel
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

<div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" align="center">
            @await Html.PartialAsync("/Pages/Views/MainElements/DeletePage.cshtml", Model.pageModel)
        </div>
    </div>
</div>

