@page
@model EditModel
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

<div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    <div class="row">
        @await Html.PartialAsync("/Pages/Views/MainElements/MainEdit.cshtml", Model.pageModel)
        <div class="col-md-4">
            @await Html.PartialAsync("/Pages/Views/RightSideElements/EditMenu.cshtml", Model.menuItems)
            @await Html.PartialAsync("/Pages/Views/RightSideElements/AdminMenu.cshtml", Model.pageId)
        </div>
    </div>
</div>

<script type="javascript">

    function getModel()
    {
        // Service call with bootstrap
    }

</script>