
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light dfnavbg border-bottom box-shadow mb-3 justify-content-end">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var item in Model.menuItems)
                {
                    if (item.ParentID == 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/mainpage?id=@item.ID" >@item.Name</a>
                        </li>
                    }
                }
            </ul>

            @if ( Model.UserInfoModel.IsLoggedIn == false )
            {
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <form class="form-inline" action="/api/Login/LoginUser" method="POST">
                        <input name="username" class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
                        <input name="password" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i style="margin-right:5px" class="fa fa-sign-in" aria-hidden="true"></i>Sign in</button>
                    </form>
                </div>
            }
            else
            {
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse text-dark">
                    <form class="form-inline" style="margin-left:10px" action="/api/Login/Logout" method="POST">
                        <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</button>
                    </form>
                    Welcome @Model.UserInfoModel.Handle 
                </div>
            }
        </div>
    </div>
</nav>
