<div class="topnav">
    <div class="navbar-header" style="width:100%; padding-left:10px;">

        <i>
            <a href="/index" class="navigation-item">Home</a>

        @foreach (var item in Model.treeList)
        {
            <span class="navigation-item">/</span>
            <a href="/page?id=@item.ID" class="navigation-item">@item.Name</a>
        }

    </i>
    <a href="/admin/edit?id=@Model.pageId" class="navigation-item" style="float:right;">[ Edit Page ]</a>

    <br />
    <br />
    </div>
</div>

