@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            @await Html.PartialAsync("Views/Carousel/Carousel")
            @if (Model.pageModel != null)
            {
                <div>&nbsp;</div>
                @await Html.PartialAsync("Views/MainElements/Page.cshtml", Model.pageModel)
            }
        </div>
        <div class="col-md-4">
            Siste artikler ...
        </div>
    </div>
</div>

