@page
@using DarkFactorCoreNet.Models
@model MainPage
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

<div>
    <div class="row" id="menu">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>
    <div class="row" id="navigation">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    @if ( Model.UserInfoModel.UserAccessLevel >= (int) AccessLevel.Editor )
    {
    <div class="row">
        <div class="col-md-12">
                <a href="/Editor/EditMainPage?id=@Model.PageId" class="navigation-item" style="float:right;">[ Edit Page ]</a>
        </div>
        <br />
    </div>
    }

    <div class="row" id="mainblock">
        <div class="col-lg-8 col-md-8">

            <div>
                @foreach (var relPage in Model.mainPageItems)
                {
                    <div class="article" style="width:100%;display:flex">

                    <div style="width:50%;align-items:center">
                        @await Html.PartialAsync("/Pages/Views/Components/ImageComponent.cshtml", relPage)
                    </div>

                    <div class="articletext" style="width:50%;margin-left:10px;margin-right:10px">

                        @relPage.PromoText
                        <br />
                        <br />

                        <a href="/page?id=@relPage.PageId">Read more &gt;&gt;</a><br />
                    </div>
                </div>
                <BR>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            @await Html.PartialAsync("Views/RightSideElements/ArticleSection.cshtml", Model.relatedPages)
        </div>
    </div>

</div>

