@page
@using DarkFactorCoreNet.Models
@model MainPage
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

<!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->

<div>
    <div class="row" id="menu">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>
    <div class="row" id="navigation">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    @if ( Model.UserInfoModel.UserAccessLevel >= (int) AccessLevel.Editor )
    {
    <div class="row">
        <div class="col-md-12">
                <a href="/Editor/EditMainPage?id=@Model.PageId" class="navigation-item" style="float:right;">[ Edit Page ]</a>
        </div>
        <br />
    </div>
    }

    <div class="row" id="mainblock">

        @foreach (var relPage in Model.mainPageItems.Take(1))
        {
            <div class="col-md-8">
                <div>
                    <div class="article" style="width:100%;display:flex">

                        <div style="width:50%;align-items:center">
                            @await Html.PartialAsync("/Pages/Views/Components/ImageComponent.cshtml", relPage)
                        </div>

                        <div class="articletext" style="width:50%;margin-left:10px;margin-right:10px">
                            <H3>@relPage.ContentTitle</H3>
                            <br />
                            @relPage.PromoText <br />
                            <br />
                            <a href="/page?id=@relPage.PageId">Read more &gt;&gt;</a><br />
                        </div>
                    </div>
                    <BR>
                </div>
            </div>
        }

        @* 
        Hide Article Section list on the right side if we are on a medium or smaller screen
        <div class="d-lg-none">hide on screens wider than lg</div>
        <div class="d-none d-lg-block">hide on screens smaller than lg</div> 
        *@
        @foreach (var relPage in Model.relatedPages)
        {
            <div class="col-lg-4 d-none d-lg-block">
                @await Html.PartialAsync("Views/Components/TeaserArticleSmall.cshtml", relPage)
            </div>
        }

        @* Show remaining articles on page as small 4 col articles  *@
        @foreach (var relPage in Model.mainPageItems.Skip(1))
        {
            <div class="col-sm-6 col-lg-4">
                @await Html.PartialAsync("Views/Components/TeaserArticleSmall.cshtml", relPage)
            </div>
        }
    </div>

</div>

