@page
@model EditImageModel
@{
    ViewData["Title"] = Model.imageModel.Filename;
}

<div>

    <div class="row">
        <div class="col-md-12">
           @await Html.PartialAsync("/Pages/Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <form  method='POST' style='display: inline;'>

                <input type='hidden' name='pageId' value='@Model.pageId'>
                <input type='hidden' name='imageId' value='@Model.imageId'>

                <div class='edit_header'>Title</div>
                <input name='Filename' type='text' class='edit_input' style='padding:2px' value='@Model.imageModel.Filename' placeholder='Enter name'><br>

                <br>
                <input class=toolbutton type='submit' value='Save changes'>
            </form>

            <form method='GET' style='display: inline;' action="/Editor/ImageSelector">
                <input type='hidden' name='pageId' value='@Model.pageId'>
                <input class=toolbutton type='submit' value='Cancel'>
            </form>

        </div>

        <div class="col-md-4">
            <div class="article" style="width:100%">
                @if ( Model.imageModel != null && !string.IsNullOrEmpty(Model.imageModel.Filedata) )
                {
                    @* Show Image if we have data *@    
                    <div>
                        <center><img width=100% height=100% src="data:image/png;base64,@Model.imageModel.Filedata"></center>
                    </div>        
                }
            </div>
        </div>

        <div class="col-md-4">
            @await Html.PartialAsync("/Pages/Views/RightSideElements/AdminMenu.cshtml", Model.pageId)
        </div>
    </div>
</div>

<script type="javascript">

    function getModel()
    {
        // Service call with bootstrap
    }

</script>