@using DarkFactorCoreNet.Models
@model List<PageListModel>

@foreach (var pageListModel in Model)
{
    <div class="articletitle">
        <img src="http://www.darkfactor.net/img/DarkFactor_WebLogo.png" width="30px" >&nbsp;<strong>@pageListModel.Title</strong>
    </div>

    <div>
        @foreach (var relPage in pageListModel.Pages)
        {
        <div class="article">
            @if (!string.IsNullOrEmpty(relPage.PromoTitle))
    {
        <a href="/page?id=@relPage.ID" class="articlesubtitle">@relPage.PromoTitle</a><br />
}
            @relPage.HtmlTeaser
            <br />
            <br />

            <a href="/page?id=@relPage.ID">Read more &gt;&gt;</a><br />
            <hr />
        </div>
        }
    </div>
}


