@using DarkFactorCoreNet.Models
@model List<PageListModel>

@foreach (var pageListModel in Model)
{
    <div class="articletitle">
        <img src="http://www.darkfactor.net/img/DarkFactor_WebLogo.png" width="30px" >&nbsp;<strong>@pageListModel.Title</strong>
    </div>

    <div style="background-color:white">
        @foreach (var relPage in pageListModel.Pages)
        {
            <div class="article">
                <a href="/page?id=@relPage.ID" class="articlesubtitle">@relPage.Title</a><br />
                @relPage.HtmlTeaser
                <hr />
            </div>
        }
    </div>
}


