@using DarkFactorCoreNet.Models
@model PageContentModel


<div>
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        <center><a href="/page?id=@Model.ID"><img src="@Model.Image" class="imagefit" /></a></center>
    }

    <div class="page">
        @Model.HtmlContent
    </div>
</div>
