@using DarkFactorCoreNet.Models
@model PageContentModel

<table width=720 cellpadding=5>
    <tr>
        <td>
            <center>
                <br>
                <table bordersize=0>
                    <tr>
                        <td width=600>@Model.Content</td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
