@using DarkFactorCoreNet.Models
@model PageContentModel

<table width=720 cellpadding=5>
    <tr>
        <td>
            <center>
                <img src="/img/products/ValyrianAdventures/ValyrianAdventures_Logo.png"><br>
                <br>
                <table bordersize=0>
                    <tr>
                        <td width=600>@Model.Content</td>
                    </tr>
                </table>
                <br>
                <br>
                <br>
                <img src="/img/products/ValyrianAdventures/ValyrianAdventures_01.png" width=600><br>
                <br>
            </center>

        </td>
    </tr>
</table>
