@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("Views/Carousel/Carousel")
        </div>
        <div class="col-md-3">
            @Html.Partial("Views/RightSideElements/News")
        </div>
    </div>
</div>

