@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("Views/LeftSideElements/Menu.cshtml", Model.menuItems)
            <div>&nbsp;</div>
            @await Html.PartialAsync("Views/LeftSideElements/AdminMenu.cshtml", Model.pageId)
        </div>
        <div class="col-md-9">
            @await Html.PartialAsync("Views/Carousel/Carousel")
            @if (Model.pageModel != null)
            {
                <div>&nbsp;</div>
                @await Html.PartialAsync("Views/MainElements/Page.cshtml", Model.pageModel)
            }
        </div>
    </div>
</div>

