@page
@model IndexModel
@{
    ViewData["Title"] = Model.pageModel.Title;
}

<div>
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("Views/LeftSideElements/Menu.cshtml", Model.menuItems)
            <div>&nbsp;</div>
            @Html.Partial("Views/LeftSideElements/AdminMenu.cshtml")
        </div>
        <div class="col-md-9">
            @Html.Partial("Views/MainElements/Page.cshtml", Model.pageModel)
        </div>
    </div>
</div>

