@page
@model IndexModel
@{
    ViewData["Title"] = Model.pageModel.Title;
}

<div>
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-8" style="background-color:darkgrey">
            @await Html.PartialAsync("Views/MainElements/Page.cshtml", Model.pageModel)
        </div>
        <div class="col-lg-4 col-md-4" style="background-color:white">

            Vise undersider hvis tilgjengelig

            Siste artikler i kategorien ...

        </div>
    </div>
</div>

