@page
@model PreviewModel
@{
    ViewData["Title"] = Model.pageModel.Title;
}

<div>
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-8" >
            @await Html.PartialAsync("Views/MainElements/Page.cshtml", Model.pageModel)
        </div>
        <div class="col-lg-4 col-md-4">
            @await Html.PartialAsync("Views/RightSideElements/ArticleSection.cshtml", Model.articleSectionModel)
            <br />
            @await Html.PartialAsync("Views/RightSideElements/EditMenu.cshtml", Model.menuItems)

        </div>
    </div>
</div>

