<div class="topnav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="/index" class="navbar-brand">Home</a>

        @foreach (var item in Model.treeList)
        {
            <span class="navbar-brand">/</span>
            <a href="/page?id=@item.ID" class="navbar-brand">@item.Name</a>
        }

        <a href="/edit?id=@Model.pageId" class="navbar-brand">[- Edit -]</a>

    </div>
</div>

